FIREBASE_SERVICE_ACCOUNT=FIREBASE_SERVICE_ACCOUNT
FREEKASSA_MERCHANT_ID=FREEKASSA_MERCHANT_ID
FREEKASSA_SECRET1=FREEKASSA_SECRET1
FREEKASSA_SECRET2=FREEKASSA_SECRET2
FRONTEND_URL=FRONTEND_URL
MISTRAL_API_KEY=MISTRAL_API_KEY
OPENAI_API_KEY=OPENAI_API_KEY
PAYMENT_API_KEY=PAYMENT_API_KEY
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
