@import url('./fonts/fonts.css');

html, body, #root {
  width: 100vw;
  min-width: 0;
  max-width: 100vw;
  height: 100vh;
  min-height: 0;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  font-family: 'Alte Haas Grotesk RUS', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: 'Alte Haas Grotesk RUS', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
